.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

button {
  text-align: center;
  display: block;
  justify-content: center;
  margin: 6% auto;
  background-color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5%;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

button:hover {
  background-color: #68b0ab;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 1.2rem;
}

a {
  color: #4ECCA3;
  text-decoration: none;
}

a:hover {
  color: #68b0ab;
}